body{
    background-color: rgb(248, 133, 133);
    margin: 0 0 0 80px;
}
#paragraph-1{
    height: 2000px;
}
header{
    font-size: 40px;
    height: 1000px;
    width: 50px;
    background-color: rgb(252, 252, 136);
    writing-mode: vertical-rl;
    text-orientation:mixed;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    overflow: hidden;
    margin: 0;
  
 
}